*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    width: 100%;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 10px auto;
    padding: 0 30px;
}
.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.navbar-ul a{
    text-decoration: none;
    color: #000000E5;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.5;
}
.button1{
    background-color:#29B24E;
    padding: 13px 20px;
    border-radius: 12px;
    color: white;
}
.bottom1{
    border-bottom: 2px solid #29B24E;
}
.section-flex{
    display: flex;
    gap: 5px;
    margin-top: 15px;
}
.photo img{
    width: 710px;
}
.aside{
    width: 786px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 10px 5px 5px #C2C2C24D;
    border-radius: 24px;
    padding: 10px 10px;
    background-color: #ffffff;
}
.top-page2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 22px;
    color: #000000;
    line-height: 33px;
}
.color-ch{
    opacity: 0.5;
    font-size: 14px;
}
.text{
    opacity: 0.7;
    font-size: 14px;
    color: #000000;
    line-height: 23px;
    width: 80%;
}
 .top-page2 p:nth-child(1){
    background-color:#29B24E ;
    color: white;
    border-radius: 15px;
    padding: 7px 5px;
    font-size: 11px;
}
.top-page2 p:nth-child(2){
    font-size: 11px;
    opacity: 0.5;
}
.top-page2 p:nth-child(3){
    opacity: 0.5;
    font-size: 11px;
}
.aside-flex{
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #000000;
    opacity: 80%;
    border-bottom: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
    padding: 10px 0;
}
.section1{
    margin-top: 35px;
}
.aside-inside{
    display: flex;
    justify-content: space-between;
    color: #000000;

}
.item{
    display: inline-block;
    width: 35%;

}
.top1{
    margin-bottom: 10px;
    opacity: 0.5;
}
.top2{
    margin-bottom: 10px;
}
.section2{
    margin-top: 30px;
}
.card img{
    width: 100%;
    border-radius: 20px;
}
.card{
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    border: 3px solid white;
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px 5px 5px #C2C2C24D;
    border-radius: 24px;
    position: relative;
}
.card h2{
    font-size: 16px;
    color: black;
    margin: 5px 0;
}
.change-color{
    opacity: 0.3;
    margin: 5px 0;
    list-style: none;
    text-decoration: none;
}
.end{
    display: flex;
    justify-content: flex-end;
    color: #00fe44;
    font-size: 19px;
}
.bottom-end{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    font-size: 15px;
    border-top: 1px solid #CFEAD6;
    color: black;
    padding: 15px 0;
}
.bottom-end p{
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0.3s;
}
.bottom-end p:hover {
    border-bottom: 1px solid greenyellow;
    color: gold;
}
.top{
    position: absolute;
    top: 25px;
    left: 23px;
    background-color: #03ff46;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 3px 10px;
    font-size: 12px;
}
span{
    color: black;
    opacity: 0.5;
}
.card img:nth-child(2){
    width: 27px;
    height: 23px;
    margin-top: -10px;
    margin-left: 85%;
    background-color: white;
    padding: 3px 3px;
}
a{
    text-decoration: none;
}
.navbar-ul li a:hover  {
    color: rgb(118, 165, 42);
    font-size: 30px;
}
.photo-flex{
    display: flex;
    gap: 15px;
}